body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a7a7a7;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chessboard {
    position: relative;
    width: 480px;       /* 8 columns x 60px */
    height: 480px;      /* 8 rows x 60px */
}

.square {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.piece {
    width: 60px;
    height: 60px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: left 0.05s ease, top 0.05s ease, opacity 0.05s ease;
    z-index: 2;
}

.trail {
    position: absolute;
    height: 15px;
    border-radius: 5px;
    pointer-events: none;
    transition: opacity 10s ease-out;
    z-index: 3;
    opacity: 1;
}

.trail-player1 {
    background: rgba(0, 0, 255, 0.6);
}

.trail-player2 {
    background: rgba(255, 0, 0, 0.6);
}

.light-square {
    background-color: #d2d2d2;
}

.dark-square {
    background-color: #f3eaec;
}

#game-info {
    margin-top: 10px;
}

#captured-pieces {
    margin-top: 10px;
}