body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a7a7a7;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    position: relative;
}

.square {
    width: 60px;
    height: 60px;
    position: relative
}

.piece {
    width: 100%;
    height: 100%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.light-square {
    background-color: #d2d2d2;
}

.dark-square {
    background-color: #f3eaec;
}

#game-info {
    margin-top: 10px;
}

#captured-pieces {
    margin-top: 10px;
}